.form-container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}
h1{
     text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-div{

    display: flex;
    gap: 30px;
}
.block-one,
.block-two{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input,
select {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}
select{
    font-size: 14px;
}
label {
  margin-top: 5px;
  font-size: 16px;
}

.add-btn{
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.add-btn:hover {
  background-color: #45a049;
}


